* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

@font-face {
    font-family: 'NeueMachina-Regular';
    src: url('../fonts/NeueMachina-Regular.otf');
}

.main {
    padding: 1rem;
}